* {
  margin: 0;
  padding: 0;
}

:root {
  --border-color: rgb(114, 114, 114);
}

.table,
.tableHeaders,
.tableBody {
  width: 500px;
  max-width: 80vw;
}

.table {
  margin: 10px;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.tableHead {
  border: 1px solid var(--border-color);
  width: 50%;
  height: 40px;
  text-align: center;
}

#compareSelect {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none !important;
  font-weight: bold;
}

.tableBody {
  border: 1px solid var(--border-color);
}

.tableData {
  border: 1px solid var(--border-color);
  text-align: center;
}