* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-color: #1434A4;
  --navbar-text-color: rgb(170, 170, 170);
  --navbar-hover-text-color: white;
}

.navbar {
  display: flex;
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  top: -75px;
  right: -75px;
  background-color: var(--theme-color);
  transition: 500ms;
  z-index: 10;
}

.navbar h1 {
  display: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.navbar-text {
  color: var(--navbar-text-color);
  margin-left: 20px;
  margin-top: 10px;
  font-size: 3.5rem;
}

#FaBars,
#FaTimes {
  position: fixed;
  right: 15px;
  top: 0;
  font-size: 2.3rem;
  border: none;
  color: var(--navbar-text-color);
  background: none;
  z-index: 11;
}

#FaBars:hover,
#FaTimes:hover,
.navbar-links a:hover {
  color: var(--navbar-hover-text-color);
  cursor: pointer;
}

#FaBars {
  transition: 300ms;
  transition-delay: 300ms;
}

#FaTimes {
  transform: rotateY(90deg);
  transition: 300ms;
}

.navbar-links {
  display: none;
}

.navbar.show {
  height: 200vw;
  width: 200vw;
  max-width: 1500px;
  max-height: 1500px;
  top: -100vw;
  right: -100vw;
  border-radius: 50%;
}

.navbar.show h1 {
  display: flex;
  justify-content: center;
  width: 50%;
  transform: translateY(40px);
}

.navbar-links.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  max-width: 750px;
  margin: 10px;
  top: 150px;
  list-style: none;
}

.navbar.show #FaBars {
  transform: rotateY(90deg);
  transition: 300ms;
}

.navbar.show #FaTimes {
  transform: rotateY(0);
  transition: 300ms;
  transition-delay: 300ms;
}

.navbar-links a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 2.3rem;
}

@media screen and (min-width: 750px) {
  .navbar.show {
    top: -750px;
    right: -750px;
  }
}

@media screen and (max-width: 750px) {
  .navbar h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar h1 {
    font-size: 1.5rem;
  }

  .navbar-links a {
    font-size: 1.4rem;
  }

  .navbar-links.show {
    top: 100px;
  }
}